.articles {
	margin-top: 15px;
	@media (max-width: $md3+px) {
		padding: 0px 20px;
	}
	@media (max-width: $md5+px) {
		padding: 0;
	}
	// .articles__title

	&__title {
		margin: 0px 0px 50px 0px;
		@media (max-width: $md5+px) {
			padding: 0px 0px 0px 20px;
			margin: 0px 0px 25px 0px;
		}
	}

	// .articles__wrapper

	&__wrapper {
		display: flex;
		@media (max-width: $md4+px) {
			flex-direction: column-reverse;
		}
	}

	// .articles__content

	&__content {
		flex: 1 1 auto;
		@media (max-width: $md5+px) {
			.pagging {
				padding: 0px 10px;
			}
		}
	}

	// .articles__item

	&__item {
		&:not(:last-child) {
			margin: 0px 0px 25px 0px;
		}
		.article-preview {
			@media (max-width: $md2+px) {
				flex-direction: column;
			}
		}
		.article-preview__image {
			@media (max-width: $md2+px) {
				flex: 0 0 350px;
			}
		}
	}

	// .articles__sidebar

	&__sidebar {
		flex: 0 0 250px;
		margin: 0px 0px 0px 50px;
		@media (max-width: $md4+px) {
			flex: none;
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md5+px) {
			padding: 0px 20px;
		}
	}
}

.article-preview {
	background: #575757;
	border-radius: 13px;
	filter: drop-shadow(4px 15px 23px rgba(0, 0, 0, 0.32));
	display: flex;
	overflow: hidden;
	position: relative;
	color: #fff;
	transition: all 0.3s ease 0s;
	&:hover {
		transform: translate(0px, -5px);
	}

	// .article-preview__image

	&__image {
		flex: 0 1 25%;
		height: auto;
	}

	// .article-preview__content

	&__content {
		flex: 0 1 75%;
		padding: 40px 35px;
		@media (max-width: $md5+px) {
			padding: 30px 20px;
		}
	}

	// .article-preview__header

	&__header {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 40px 0px;
	}

	// .article-preview__name

	&__name {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin: 0px 15px 0px 0px;
	}

	// .article-preview__labels

	&__labels {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		@media (max-width: $md5+px) {
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}

	// .article-preview__label

	&__label {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		background-color: #000;
		border-radius: 3px;
		padding: 2px 6px 2px 7px;
		&:not(:last-child) {
			margin: 0px 0px 3px 0px;
		}
	}

	// .article-preview__text

	&__text {
		line-height: 24px;
	}
}

.category {
	// .category__col

	&__col {
	}

	// .category__item

	&__item {
	}
}
