.header.first-screen {
	height: 100vh;
	min-height: 700px;
	// overflow: hidden;

	@media (max-width: 1440px) {
		max-height: 900px;

	}

	@media (max-width: 1300px) {
		max-height: 850px;
	}

	@media (max-width:768px) {
		min-height: 0;
		height: 581px;

	}
}

.main-slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding-top: 180px;
	overflow-y: clip;
	height: 100vh;
	min-height: 700px;

	@media (max-width: 1440px) {
		max-height: 900px;

	}

	@media (max-width: 1300px) {
		max-height: 850px;
	}

	@media (max-width: 998px) {
		overflow: hidden;
	}

	@media (max-width:768px) {
		min-height: 0;
		height: 581px;
	}


	// .main-slider__slider

	&__slider {
		height: 100%;
		padding-left: 0;
		overflow: visible;

		@media (min-width:1101px) {
			padding-left: 21%;

		}
	}

	// .main-slider__wrapper

	&__wrapper {}

	// .main-slider__slide

	&__slide {
		transition: margin-right 0.3s ease 0s;

		.main-slider__links {
			opacity: 0 !important;
		}

		&.swiper-slide-active {
			.main-slider__links {
				opacity: 1 !important;
			}
		}

		&.swiper-slide-active {
			margin-right: 170px;
		}

		@media (min-width:1541px) {
			// margin-right: 70px;

			&.swiper-slide-active {
				margin-right: 228px;
			}

		}

	}


	// .main-slider__human

	&__human {
		position: relative;
		max-height: 1100px;
		height: calc(100% + 213px);
		width: 400px;

		// @media (max-width: 1540px) {
		// 	width: 300px;
		// }
		@media (max-width: 1100px) {
			// width: 100%;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: scale-down;
		}

		@media (max-width: 768px) {
			width: 220px;
			height: 530px;
			position: relative;
		}

		// .main-slider__human_electroduga

		&_electroduga {
			.links-block__item_4 {
				top: 24%;
			}

			@media (min-width:768px) {
				// .links-block__item_7 .links-block__link {
				// 	width: 220px !important;
				// }

			}
		}

		// .main-slider__human_lesnik

		&_lesnik {
			@media (min-width:768px) {

				.links-block__item .links-block__link {
					flex: 1 0 auto;
				}
			}
		}

		// .main-slider__human_sklad

		&_sklad {}

		// .main-slider__human_med

		&_med {}

		// .main-slider__human_neft

		&_neft {
			.links-block__item_4 {
				top: 25%;
			}
		}

		// .main-slider__human_ohrana

		&_ohrana {}

		// .main-slider__human_pontemp

		&_pontemp {}

		// .main-slider__human_povar

		&_povar {
			.links-block__item_1 {
				// top: 0%;
				// left: -60%;
			}
		}

		// .main-slider__human_povtemp

		&_povtemp {
			@media (min-width: 1100px) {

				.links-block__item_1 {
					left: -40%;
				}

				.links-block__item_3 {
					left: 76%;
				}

				.links-block__item_1 {
					top: 8%;
				}

				.links-block__item_3 {
					top: 19%;
				}
			}
		}

		// .main-slider__human_signal

		&_signal {}

		// .main-slider__human_static

		&_static {
			.links-block__item_4 {
				top: 25%;
				left: 75%;
			}
		}

		// .main-slider__human_vlaga

		&_vlaga {}
	}

	// .main-slider__links

	&__links {}

	// .main-slider__nav

	&__nav {
		display: flex;
		position: absolute;
		bottom: 20px;
		right: 20px;

		@media (min-width:1101px) {
			right: 24%;
			// background-color: #fff;
		}

		@media (min-width:1280px) {
			right: 27%;
		}

		@media (min-width:1541px) {
			right: auto;
			left: 50%;
		}

		@media (min-width: 2000px) {
			left: 43%;
		}

		// bottom: 42px;
		// left: 860px;

		// @media (min-width:1921px) {
		// 	left: 50%;
		// }

		// @media (max-width: 1440px) {
		// 	left: 55%;
		// }

		// @media (max-width: 1280px) {
		// 	left: 60%;
		// }

		// @media (max-width: 1100px) {
		// 	left: auto;
		// 	right: 80px;
		// }

		// @media (max-width: 768px) {
		// 	right: 20px;
		// 	bottom: 20px;
		// }
	}

	// .main-slider__nav-btn

	&__nav-btn {
		cursor: pointer;
		border: 1px solid #fff;
		width: 91px;
		height: 59px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: #fff;

			.main-slider__nav-svg {
				use {
					fill: #515151;
				}
			}
		}

		@media (max-width: $md4+px) {
			width: 56px;
			height: 58px;
		}
	}

	// .main-slider__nav-svg

	&__nav-svg {
		width: 22px;
		height: 14px;

		use {
			fill: #fff;
		}
	}

	// .main-slider__bg-slider

	&__bg-slider {
		position: absolute;
		top: 0;
		left: -213px;
		z-index: -1;
		width: calc(100% + 213px);
		height: 100vh;
		min-height: 700px;

		@media (max-width: 1300px) {
			max-height: 850px;
		}

		@media (max-width:768px) {
			min-height: 0;
			height: 581px;
		}
	}

	// .main-slider__bg-wrapper

	&__bg-wrapper {}

	// .main-slider__bg-slide

	&__bg-slide {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.links-block {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	// .links-block__item

	&__item {
		position: absolute;
		display: flex;

		&[hidden] {
			display: none;
		}

		img {
			margin-top: 8px;
			position: absolute;
		}

		&::after {
			content: '';
			display: inline-block;
			flex: 0 0 18px;
			width: 18px;
			height: 13px;
			margin-left: 15px;
			background: url(../img/main-slider/green-arrow-right.svg) center center no-repeat;
			align-self: center;
		}

		&_1,
		&_2 {
			padding-right: 46px;

			img {
				right: 0;

			}

			@media (max-width: 1100px) {
				img {
					right: auto;
					left: 0;

				}

				padding-right: 0;
				padding-left: 40px;
			}
		}



		&_3,
		&_4,
		&_5 {
			padding-left: 46px;

			img {
				left: 0;
			}
		}



		&_6,
		&_7,
		&_8 {
			padding-left: 97px;

			img {
				left: 0;
			}
		}


		@media (min-width: 767.98px) {

			@media (max-width: 1100px) {

				.links-block__link {
					flex: 1 1 auto;
					width: auto !important;
				}
			}

			@media (max-width: 767.98px) {
				.links-block__link {
					font-size: 10px;
					line-height: 1.1;

					span {
						white-space: normal;
					}
				}
			}


			// .links-block__item_1

			&_1 {
				text-align: right;
				top: -1%;
				left: -30%;

				.links-block__link {
					width: 170px;
				}

				img {
					order: 3;
					width: 46px;
					height: 56px;


				}

				&::after {
					margin-left: 0;
					margin-right: 15px;
					margin-top: 5px;

				}

				// @media (max-width: 1440px) {
				// 	left: -78%;
				// }
				@media (max-width: 1100px) {
					left: 64%;
					text-align: left;

					.links-block__link {
						order: 2;
						margin-left: 15px;
					}

					&::after {
						order: 3;
						margin-right: 0;
					}

					img {
						order: 1;
						transform: scale(-1, 1);
					}
				}

				@media (max-width: 768px) {
					.links-block__link {

						width: 100px;
					}
				}
			}

			// .links-block__item_2

			&_2 {
				text-align: right;
				top: 3.5%;
				left: -49%;

				.links-block__link {
					width: 250px;
				}

				img {
					order: 3;
					width: 46px;
					height: 56px;
				}

				&::after {
					margin-left: 0;
					margin-right: 15px;
					margin-top: 5px;

				}

				// @media (max-width: 1440px) {
				// 	left: -78%;
				// }
				@media (max-width: 1100px) {
					left: 64%;
					text-align: left;
					top: 5%;

					.links-block__link {
						order: 2;
						margin-left: 15px;
					}

					&::after {
						order: 3;
						margin-right: 0;
					}

					img {
						order: 1;
						transform: scale(-1, 1);
					}
				}
			}

			// .links-block__item_3

			&_3 {
				top: 14.4%;
				left: 69%;

				.links-block__link {
					// width: 300px;
					// flex: 0 0 300px;
					margin-left: 13px;
					margin-right: 0;
				}

				img {
					width: 46px;
					height: 56px;
				}
			}

			// .links-block__item_4

			&_4 {
				top: 21%;
				left: 79%;

				.links-block__link {
					// width: 210px;
					margin-left: 13px;
					margin-right: 0;
				}

				img {
					width: 46px;
					height: 56px;
				}
			}

			// .links-block__item_5

			&_5 {
				top: 29%;
				left: 89%;

				.links-block__link {
					// width: 210px;
					margin-left: 13px;
					margin-right: 0;
				}

				img {
					width: 46px;
					height: 56px;
				}

				@media (max-width: 1100px) {
					left: 80%;
				}
			}

			// .links-block__item_6

			&_6 {
				top: 35%;
				left: 81%;

				.links-block__link {
					// width: 210px;
					margin-left: 13px;
					margin-right: 0;
				}

				img {
					width: 97px;
					height: 137px;
				}
			}

			// .links-block__item_7

			&_7 {
				top: 45%;
				left: 80%;

				.links-block__link {
					// width: 190px;
					margin-left: 13px;
					margin-right: 0;

					span {
						white-space: normal;
					}
				}

				img {
					width: 97px;
					height: 137px;
				}
			}

			// .links-block__item_8

			&_8 {
				top: 55%;
				left: 80%;

				.links-block__link {
					// width: 150px;
					margin-left: 13px;
					margin-right: 0;
				}

				img {
					width: 97px;
					height: 137px;
				}
			}
		}

		@media (max-width: 768px) {
			transition: all 0.3s ease 0s;

			&::before {
				content: '';
				display: block;
				background: url('../img/svg/icon_close-wht.svg') center center no-repeat;
				width: 30px;
				height: 30px;
				flex: 0 0 30px;
				border: 1px solid #FFF;
				border-radius: 20%;
				cursor: pointer;
			}

			.links-block__link {
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0s;
				font-size: 11px;
				line-height: 14px;
				flex: 1 1 auto;
				pointer-events: none;
			}

			.links-block__line {
				display: none;
			}

			&::after {
				display: none;
			}

			&.links-block__item_open {
				.links-block__link {
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}

				.links-block__line {
					display: block;
				}

				&::after {
					display: block;
				}

				&::before {
					display: none;

				}
			}

			&_1,
			&_2 {
				padding-left: 25px;

				img {}
			}



			&_3,
			&_4,
			&_5 {
				padding-left: 25px;

				img {}
			}



			&_6,
			&_7,
			&_8 {
				padding-left: 40px;

				img {}
			}

			// .links-block__item_1

			&_1 {
				top: 0%;
				left: 64%;
				transition: all 0.3s ease 0s;

				&.links-block__item_open {
					top: -4%;
					left: 70%;
				}

				.links-block__link {
					margin-right: 0;
					margin-left: 10px;
					order: 2;
				}

				.links-block__line {
					order: 1;
					transform: scale(-1, 1);
					width: 30px;
					height: 30px;
				}

				&::after {
					order: 3;
				}
			}

			// .links-block__item_2

			&_2 {
				top: 7.5%;
				left: 67%;

				&.links-block__item_open {
					top: 4%;
					left: 75%;
				}

				.links-block__link {
					margin-right: 0;
					margin-left: 10px;
					order: 2;
				}

				.links-block__line {
					order: 1;
					transform: scale(-1, 1);
					width: 30px;
					height: 30px;
				}

				&::after {
					order: 3;
				}
			}

			// .links-block__item_3

			&_3 {
				top: 15%;
				left: 70%;

				&.links-block__item_open {
					top: 12%;
					left: 75%;
				}

				.links-block__link {
					margin-right: 0;
					margin-left: 10px;
				}

				.links-block__line {
					width: 30px;
					height: 30px;
				}
			}

			// .links-block__item_4

			&_4 {
				top: 22.5%;
				left: 78%;

				&.links-block__item_open {
					top: 19%;
					left: 80%;
				}

				.links-block__link {
					margin-right: 0;
					margin-left: 10px;
				}

				.links-block__line {
					width: 30px;
					height: 30px;
				}
			}

			// .links-block__item_5

			&_5 {
				top: 30%;
				left: 86%;

				&.links-block__item_open {
					top: 27%;
					left: 91%;
				}

				.links-block__link {
					margin-right: 0;
					margin-left: 10px;
				}

				.links-block__line {
					width: 30px;
					height: 30px;
				}
			}

			// .links-block__item_6

			&_6 {
				top: 45%;
				left: 65%;

				&.links-block__item_open {
					top: 40%;
					left: 70%;
				}

				.links-block__link {
					margin-right: 0;
					margin-left: 10px;
				}

				.links-block__line {
					width: 40px;
					height: 55px;
				}
			}

			// .links-block__item_7

			&_7 {
				top: 55%;
				left: 75%;

				&.links-block__item_open {
					top: 45%;
					left: 86%;
				}

				.links-block__link {
					margin-right: 0;
					margin-left: 10px;
				}

				.links-block__line {
					width: 40px;
					height: 55px;
				}
			}

			// .links-block__item_8

			&_8 {
				top: 65%;
				left: 60%;

				&.links-block__item_open {
					top: 51%;
					left: 55%;
				}

				.links-block__link {
					margin-right: 0;
					margin-left: 10px;
				}

				.links-block__line {
					width: 60px;
					height: 90px;
				}
			}
		}
	}

	// .links-block__link

	&__link {
		font-weight: 600;
		font-size: 17px;
		line-height: 21px;
		color: #fff;
		margin-right: 15px;
		// flex: 0 1 300px;

		@media (max-height: 900px) and (min-height: 770px) {
			font-size: 1.6vmin;
			line-height: 1.6vmin;
		}

		@media (max-height:770px) {
			font-size: 12px;
			line-height: 12px;
		}

		span {
			display: block;
		}
	}

	// .links-block__line

	&__line {}
}

.swiper-container {}

.swiper-wrapper {}

.swiper-slide {}


.swiper-button-prev {}

.swiper-button-next {}