.result {
	margin: 30px 0px 0px 0px;

	// .result__title
	&.compare {
		margin-bottom: 90px;
		max-width: 1100px;
	}

	&__title {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin: 0px 0px 40px 0px;

		@media (max-width: $md4+px) {
			font-size: 22px;
			line-height: 27px;
		}
	}

	// .result__text

	&__text {
		font-size: 24px;
		line-height: 36px;
	}

	// .result__body

	&__body {}

	// .result__header

	&__header {
		margin: 0px 0px 30px 0px;
	}

	// .result__content

	&__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0px 0px 70px 0px;
	}

	// .result__card

	&__card {
		flex: 0 1 20%;
		transition: all 0.3s ease 0s;
		filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.32));

		&:hover {
			transform: translate(0px, -11px);
			filter: drop-shadow(15px 15px 23px rgba(0, 0, 0, 0.32));
		}
	}
}